# dependencies
node_modules/

# screenshots
cypress/screenshots/

# videos
cypress/videos/

#sample cypress tests
cypress/integration/2-advanced-examples/*.js
cypress/integration/1-getting-started/*.js